/* Start Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Components */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 58px;
  }
  .special-heading + p {
    margin-top: -20px;
    font-size: 15px;
  }
}
/* End Components */
/* Start Header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: var(--main-duration);
}
.header .links .icon span:last-child {
  width: 100%;
}
.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}
.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links:hover ul {
  display: block;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: var(--main-duration);
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
/* End Header */
/* Start Landing */
.landing {
  background-image: url(../images/61f23ff064dd6.jpg);
  background-size: cover;
  height: calc(100vh - 64px );
  position: relative;
  background-position: center;
}

.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
}

.landing .intro-text h1 {
  margin: 0px;
  color: var(--main-color);
  font-size: 50px;
  text-align: center;
  font-weight: bold
}
.landing .intro-text p{
  margin: 0;
  text-align: center;
  line-height: 1.6;
  color: #777;
  font-size: 15;
  font-size: 15px;
  font-weight: bold;
}
/* End Landing */
/* Start Features */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background)
}
.features .container { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-row-gap: 10px;
}
@media (min-width: 1029px ) {
  .features .container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 10px;
  }
}
.features .container .feat {
  background-color: white;
  text-align: center;
  padding: 10px;
  transition: 0.3s;
}
.features  .container .feat:hover  {
  box-shadow: 2px 2px 20px 1px  #777;
  cursor: pointer;
}
.feat i  {
  font-size: 40px;
  color: var(--main-color);
  padding: 10px;
}

.feat h3  {
  font-size: 18px;
}
.feat p {
  color: #777;
}
/* End Features */
/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
.services-content .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 1000px) {
  .services-content .col .hello {
    display: none ;
  }
}
.services-content .srv i {
  flex-basis: 60px;
  color: var(--main-color);
  font-size: 40px;
}
.services-content .srv .text {
  flex: 1;
}
.services-content .srv .text h3 {
  margin: 0  0 20px;
  color: var(--secondary-color);
  font-weight: 600;
}
.services-content .srv .text p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;;
}
.services-content .image {
  position: relative;

}
.services-content .col .image  .line {
  position: absolute;
  width: 100px;
  height: calc(100% + 50px);
  background-color: var(--secondary-color);
  top: -25px;
  right: 0;
  z-index: -1;
}
/* End Services */
/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  margin-top: 80px;
  background-color: var(--section-background);
}

.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
.portfolio .portfolio-content .card {
  background-color: white;
  transition: 0.3s;
}
.portfolio  .portfolio-content .card:hover  {
  box-shadow: 20px 20px 20px 1px  #dad9d9;
  cursor: pointer;
}
.portfolio .portfolio-content .card img {
  width: 100%;
}
.portfolio .portfolio-content .card img:last-of-type {
  height: 200px;
}
.portfolio .portfolio-content .info {
  padding: 20px;
}
.portfolio .portfolio-content .info h3 {
  color: var(--secondary-color);
  font-weight: bold;
  margin: 0;
}
.portfolio .portfolio-content .info p {
  color: #777;
  line-height: 1.4;
 
}
.portfolio .botton {
  border: 3px solid var(--main-color);
  width: fit-content;
  text-align: center;
  margin: 20px auto 0;
  padding: 0px 10px;
  color: var(--main-color);
  transition: 0.3s;
}
.portfolio .botton:hover {
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
}
/* End Portfolio */
/* Start About */
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  margin-top: 50px;
}
.about .about-content {
  display: flex;
  justify-content: space-around;
  margin-top: 80px
}
@media (max-width: 1030px) {
  .about .about-content {
    flex-direction: column;
    align-items: center;
  }
  .about .about-content .cont2  {
    display: none;
  }
}
@media (max-width: 767px ) {
  .about .about-content .cont1 {
    width: 200px;
  }
  .about .about-content .cont1 img {
    width: 200px
  }
}
.about .about-content .cont1 {
  position: relative;
}
.about .about-content .cont1 img {
 
  box-shadow: 10px 10px 30px 1px  #333;
  margin: 0 0 20px
}

.about .about-content .cont1::before {
  content: ''; 
  position: absolute;
  width: 100px;
  height: calc(100% + 80px);
  background-color: rgb(224, 221, 221);
  top: -55px;
  left: -50px;
  z-index: -1;
}
.about .about-content .cont1::after {
  content: ''; 
  position: absolute;
  width: 100px;
  height: 80%;
  background-color: var(--main-color);
  top: -35px;
  right: -50px;
  z-index: -1;
}
.about .about-content .cont1 .pattern {
  position: absolute;
  height: 76px;
  width: 80%;
  background-color: var(--main-color);
  top: 60%;
  right: -30%;
  z-index: -1;
}


.about .about-content .cont2 {
  position: relative;
  flex-basis: 500px;
}
.about .about-content .cont2 p {
  margin: 0;
}
.about .about-content .cont2 p:first-child  {
  color: var(--secondary-color);
  font-size: 17px;
  font-weight: 800;
  line-height: 1.4;
  padding-bottom: 20px;
  
}
.about .about-content .cont2 .line {
  position: absolute;
  top: 30%;
  left: 0;
  width: 50%;
  height: 2px;
  background: var(--main-color);
}

.about .about-content .cont2 p:last-child {
  color: #777;
  line-height: 1.6;
  font-size: 15px;
}

/* End About */
/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  margin-top: 80px;
  background-color: var(--section-background);
}
.contact .contact-content .box1 h1{
  color: var(--secondary-color);
  font-size: 35px;
  margin-bottom: -20px;
  font-weight: 800;
}
@media (max-width: 767px) {
  .contact .contact-content .box1 h1{
    font-size: 20px;
  }
  .contact .contact-content .box1 h3 {
    font-size: 20px;
  }
}
.contact .contact-content .box1 h3 {
  color: var(--main-color);
  font-size: 25px;
  margin-left: 20px;
  letter-spacing: -2px;
  margin-top: 15px;
}
.contact .contact-content .box2 {
  display: flex;
  flex-direction: row;
}
.contact .contact-content .box2 p {
  margin: 0;
  color: #777;
  margin-right: 15px;
}
.contact .contact-content .box2 i {
  color: var(--secondary-color);
  margin-left: 19px;
  font-size: 20px;
  transition: 0.3s;
}
.contact .contact-content .box2 i:hover {
  color: var(--main-color);
  cursor: pointer;
}
/* End Contact */
/* Start Footer */
footer {
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  padding: 20px;
}
footer span {
  color: var(--main-color);
}
/* End Footer */